<? INC Header.tmpl ?>

<div class="container col-md-10 col-md-offset-1">
	<div class="panel panel-default">

<? IF Module != "Global" ?>
    <? IF Files ?>
        <div class="panel-heading">Log Browser</div>
            <div class="panel-body">
                    <? LOOP Files ?>
                        <form action="<? VAR ModPath TOP ?>" method="post">
                            <? INC _csrf_check.tmpl ?>
                            <input type="hidden" name="path" value="<? VAR Long ?>">
                            <label>
                                <img src="<? VAR ModFilesPath TOP ?>/<? IF Dir ?>dir<? ELSE ?>file<? ENDIF ?>.png">
                                <? VAR Short ?>
                                <input type="submit" hidden>
                            </label>
                        </form>
                    <? ENDLOOP ?>
        </div>
    <? ENDIF ?>
    <? IF Log ?>
        <div class="panel-heading"><? FORMAT "Log Viewer" ?> (<? FORMAT "Page" ?> <? VAR Page ?>)</div>
        <div class="panel-body">
                <code style="display: block; margin-bottom: 1em;">
                    <? LOOP Log ?>
                        <? VAR Line ?><br>
                    <? ENDLOOP ?>
                </code>
                <? IF PrevOffsets ?>
                    <form style="display: inline-block;" action="<? VAR ModPath TOP ?>" method="post">
                        <? INC _csrf_check.tmpl ?>
                        <input type="hidden" name="path" value="<? VAR Path ?>">
                        <? LOOP PrevOffsets ?>
                            <input type="hidden" name="offsets" value="<? VAR Offset ?>">
                        <? ENDLOOP ?>
                        <input type="submit" value="<? FORMAT "Prev" ?>">
                    </form>
                <? ENDIF ?>
                <? IF NextOffsets ?>
                    <form style="display: inline-block;" action="<? VAR ModPath TOP ?>" method="post">
                        <? INC _csrf_check.tmpl ?>
                        <input type="hidden" name="path" value="<? VAR Path ?>">
                        <? LOOP NextOffsets ?>
                            <input type="hidden" name="offsets" value="<? VAR Offset ?>">
                        <? ENDLOOP ?>
                        <input type="submit" value="<? FORMAT "Next" ?>">
                    </form>
                <? ENDIF ?>
            </div>
        </div>
    <? ENDIF ?>
<? ENDIF ?>

<? INC Footer.tmpl ?>
